.header-style {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.header-style img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.header-style p {
font-weight: 700;
font-size: 40px;
line-height: 160%;
color: #111111;
margin: 0;
}
