.blog-ans {
    background-color: bisque;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: justify;
    border-radius: 10px;
}
.question {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
.qs-title{
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
