.cafe-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 32px;
    /* margin-left: 15%;
    margin-right: 15%; */
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px;
}

@media screen and (max-width: 576px) {
    .cafe-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .cart-container {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}
